################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Anisimov01/.idea
/.vs
/Anisimov01/bin/Debug/net8.0-windows
/Anisimov01/obj
